@mixin removeButtonDecoration {
  border: none;
  font-size: 20px;
  background: none;
  cursor: pointer;
  padding: 5px 10px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  .next-previous-button {
    display: flex;
    justify-content: flex-end;

    button {
      @include removeButtonDecoration();

      &:hover {
        background: #ddd;
      }
      &.active {
        background: #b8c6db;
      }
    }
  }

  .page-limit {
    display: flex;

    .limit-title {
      padding: 10px;
    }
    .page-limit-selection {
      padding: 5px;
      font-size: 16px;
      background: none;
    }
  }
}

@media (max-width: 600px) {
  .pagination {
    .page-limit {
      .limit-title {
        display: none;
      }
      .page-limit-selection {
        margin: 10px;
      }
    }
    .next-previous-button {
      .page-numbers {
        display: none;
      }
    }
  }
}
