$main-color: black;
$sub-color: grey;

.form-control {
  position: relative;
  padding: 15px;

  .input-label {
    text-transform: capitalize;
  }
  .input-field {
    font-size: 16px;
    line-height: 2em;
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    display: block;
    min-width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 5px 0;

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 600px) {
  .form-control {
    min-width: 300px;
    height: auto;
    margin: 10px;
    .input-field {
      min-width: 80%;
    }
  }
}
