.formik-container {
  min-width: 400px;
  height: auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  background-color: #fff;

  .form-container {
    position: relative;
    width: 350px;
    .button-options {
      display: flex;
      justify-content: space-between;
      margin: 10px;
    }
  }

  .heading {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
    text-transform: capitalize;
  }
}

@media (max-width: 600px) {
  .formik-container {
    min-width: 300px;
    height: auto;
    .form-container {
      width: 280px;
      .button-options {
        display: flex;
        justify-content: space-between;
      }
      button {
        padding: 0;
        margin: 10px;
        min-width: 100px;
      }
    }
  }
}
