.home {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .add-user-button {
    &.right {
      text-align: right;
    }
  }
  .error {
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
  }

  .heading {
    color: #323283;
    font-weight: bolder;
    font-size: 26px;
    margin: 20px;
  }
}
